.wrapper{
  margin: 20px auto 0;
  padding: 20px;
  max-width: 500px;
}

.tittle{
  margin: 50px auto 60px;
  text-align: center;
}
.accept{
  margin-right: 20px;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-group label {
  /* width: 100px; */
  margin-right: 20px;
}
.form-group input {
  width: 200px;
}

.matrix {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  /* align-items: center; */
  padding-bottom: 30px;
}
.matrix label {
  /* width: 200px; */
  margin-left: 20px;
}
.matrix input {
  width: 85px;
  margin: 0 10px;
}
.checkbox-container{
  margin: 20px auto;
}

.checkbox-container label{
  /* display: block; */
  margin-left: 20px;
}